body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.loader {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .catContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .catbody {
    width: 80px;
  }
  .tail {
    position: absolute;
    width: 17px;
    top: 50%;
    animation: tail 0.5s ease-in infinite alternate-reverse;
    transform-origin: top;
  }
  @keyframes tail {
    0% {
      transform: rotateZ(60deg);
    }
    50% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(-20deg);
    }
  }
  .wall {
    width: 300px;
  }
  .text {
    display: flex;
    flex-direction: column;
    width: 50px;
    position: absolute;
    margin: 0px 0px 100px 120px;
  }
  .zzz {
    color: black;
    font-weight: 700;
    font-size: 15px;
    animation: zzz 2s linear infinite;
  }
  .bigzzz {
    color: black;
    font-weight: 700;
    font-size: 25px;
    margin-left: 10px;
    animation: zzz 2.3s linear infinite;
  }
  @keyframes zzz {
    0% {
      color: transparent;
    }
    50% {
      color: black;
    }
    100% {
      color: transparent;
    }
  }
@media (max-width: 768px) {
  body {
    padding-top: 30%;
    flex-direction: column;
  }

  .catbody {
    width: 60px;
  }

  .tail {
    width: 14px;
  }

  .wall {
    width: 220px;
  }

  .text {
    width: auto;
    margin: 0 0 80px 90px;
  }

  .zzz {
    font-size: 13px;
  }

  .bigzzz {
    font-size: 20px;
    margin-left: 6px;
  }
}

@media (max-width: 480px) {
  body {
    padding-top: 40%;
  }

  .catbody {
    width: 50px;
  }

  .tail {
    width: 12px;
  }

  .wall {
    width: 180px;
  }

  .text {
    margin: 0 0 70px 70px;
  }

  .zzz {
    font-size: 12px;
  }

  .bigzzz {
    font-size: 16px;
  }
}
